.details_brief_case{
    background-color: white;
    border-radius: 24px;
    padding-right: 5px;
    height: 15em;
}
.details_brief_case > p{
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    padding: 0 12px 0 12px;
    position: relative;
    bottom: 63px;
    color: #58506B;
}
.slider_brief_case{
    font-size: 13px;
}
.slider_brief_case ion-col{
    padding-right: 12px;
}
.slider_brief_case ion-col:nth-child(2) li:nth-child(1) p{
    display: flex;
    justify-content: space-between;
}
.slider_brief_case ion-col:nth-child(2) li:nth-child(1) label{
    background-color: #41CF69;
    color: white;
    border-radius: 24px;
    padding: 1px 7px;
}
.slider_brief_case ion-col:nth-child(2) li:nth-child(1) span img{
    position: relative;
    top: 3px;
}
.slider_brief_case ion-col:nth-child(2) li{
    text-align: left;
}
.slider_brief_case ion-col:nth-child(2) li:nth-child(4){
    display: flex;
    flex-direction: column;
}
.slider_brief_case ion-col:nth-child(2) li:nth-child(4) span:nth-child(1){
    color: #41CF69;
}
.slider_brief_case ion-col:nth-child(1){
    text-align: center;
    position: relative;
    top: 31px;
}
.slider_brief_case ion-col:nth-child(1) li:nth-child(2){
    color: #817699;
}
.slider_brief_case ion-col:nth-child(1) li:last-child{
    display: flex;
    justify-content: center;
}
.slider_brief_case ion-col:nth-child(2) li:last-child {
    display: flex;
    justify-content: space-between;
}
.graphic_briefcase{
    height: 141px !important;
    width: 274.2px !important;
    bottom: 111px !important;
    right: 0px !important;
    position: relative !important;
}
.details_brief_case .swiper-pagination {
    display: none;
}
aside div:last-child a {
    background: #E4FFEE;
    border: 0.5px solid #41CF69;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: #41CF69;
    padding: 3px 8px;
    font-size: 11px;
}